/* Whole body CSS */

.montserrat-montserratfont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

html * {
    font-family: "Montserrat", sans-serif;
    max-width: 100%;
}

.main {
    margin: 0%;
}
/* Nav Box CSS */
    /* ajouter le CSS pour la version desktop de la nav bar */

.main__NavBox {
    width: 100%;
    height: 5rem;

    background-color: #152237;
    color: #FFFFFF;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__NavBox__logo {
    height: 1.875rem;
    width: auto;
    padding: 1.563rem;
}

    /* NavBox items CSS */

#desktop__SignUp {
    padding: 0.5rem 7.738%;
    border: 0px;
    border-radius: 0.375rem;

    background: linear-gradient(135deg, #44DD8A, #15B7E2);
    opacity: 100% !important;
}

#desktop__SignIn {
    padding: 0.5rem 7.738%;
    border: 0px;
    border-radius: 0.375rem;
}

#desktop__search {
    height: 2.5rem;
    width: 28.393%;
    border: 1px;
    border-radius: 0.375rem;

    font-weight: 500;
    font-size: 0.938rem;

    background-color: #152237;
    color: #FFFFFF;

    background: url("assets/icons/icone.svg") no-repeat right;
    background-position: 95%;
}

/* mettre tout le CSS mobile dans @media */

.main__NavBox__mobile__burger {
    display: none;
}

@media (max-width: 600px) {

    #desktop__formation { visibility: collapse;}

    .main__NavBox__elements__btn { display: none;}

    #desktop__search { visibility: collapse;}

    .main__NavBox__logo {
        height: 1.875rem;
        width: auto;
        padding: 1.563rem;
    }

    .main__NavBox__mobile__burger {
    visibility: visible;
    }

    .main__NavBox__elements {
        visibility: collapse;
    }

    #mobile-burger__toggle {
        opacity: 0;
    }

    #mobile-burger__toggle:checked ~ .mobile-burger__btn > span {
        transform: rotate(45deg);
    }
    #mobile-burger__toggle:checked ~ .mobile-burger__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #mobile-burger__toggle:checked ~ .mobile-burger__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #mobile-burger__toggle:checked ~ .mobile-burger__box {
        visibility: visible;
        left: 0;
    }

    .mobile-burger__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 3.5%;
        left: 85%;

        width: 1.625rem;
        height: 1.625rem;

        z-index: 10;
    }

    .mobile-burger__btn > span,
    .mobile-burger__btn > span::before,
    .mobile-burger__btn > span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 2px;

        background-color: #FFFFFF;

        transition-duration: .25s;
    }
    .mobile-burger__btn > span::before {
        content: '';
        top: -8px;
    }
    .mobile-burger__btn > span::after {
        content: '';
        top: 8px;
    }

    .mobile-burger__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 100%;
        z-index: 9;

        width: 75%;
        height: 100%;

        margin: 0% 25%;
        padding: 80px 0;

        background-color: #152237;
        opacity: 95%; /* transparence ul */
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;

        color: #ffffff;
        opacity: 100% !important; /* il va me rendre fou haha hahahaa HAHAHAHHAHAHAHAHAHA !!!!*/

        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;

        transition-duration: .25s;
    }

    /* Burger menu items CSS */
    #mobile__SignUp {
        padding: 0.5rem 1rem;
        border: 0px;
        border-radius: 1rem;

        background: linear-gradient(135deg, #44DD8A, #15B7E2);
        opacity: 100% !important;
    }

    #mobile__SignIn {
        padding: 0.5rem 1rem;
        border: 0px;
        border-radius: 1rem;
    }

    #mobile__search {
        height: 2.5rem;

        background-color: #152237;
        color: #FFFFFF;

        background: url("assets/icons/icone.svg") no-repeat right;
        background-position: 95%;
    }
}

/* Hero CSS */

/* Modifier @media pour faire le hero mobile */
@media (max-width: 600px) {

}

.main__hero {
    width: 100%;
    height: 100%;
    background-image: url(assets/img/bg-header.png);
    background-size: contain;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #44DD8A, #15B7E2);
    width: 100%;
    opacity: 80%;
    z-index: 1; /* prio de bg, s'affiche tout en dessous */
}

.main__hero h1 {
    color: #152237;
    text-align: center;
    position: relative;
    z-index: 2; /* prio du texte, s'affiche devant le bg */
}

.main__hero h2 {
    color: #152237;
    text-align: center;
    position: relative;
    z-index: 2;
}
.main__hero button {
    color: #152237;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Formations populaires CSS */



/* Formations récentes CSS */

.main__formations-recentes {
    width: 100%;
    background-color: #152237;
    color: #FFFFFF;
}

/* Créer formations */

.main__create {
    width: 100%;
    background-color: #44DD8A;
    color: #152237;
}

/* About us */

/* Icons CSS */

#star {
    color: #FFC700;
}

#star-opacity {
    color: #FFC700;
    opacity: 30%;
}

    /* Avantages KLIVIO */
#arrow { list-style-image: url(assets/icons/arrow-up-right.svg);}

#pen { list-style-image: url(assets/icons/edit-01.svg);}

#download { list-style-image: url(assets/icons/download-02.svg);}

#empty-star { list-style-image: url(assets/icons/star-02.svg);}

#clock { list-style-image: url(assets/icons/clock-backward.svg);}

#msg { list-style-image: url(assets/icons/annotation-typing.svg);}

    /* Create formations */
#money { list-style-image: url(assets/icons/coin-hand.svg);}

#heart { list-style-image: url(assets/icons/heart.svg);}

#pencil { list-style-image: url(assets/icons/pencil-01.svg);}

#gear { list-style-image: url(assets/icons/settings.svg);}

#profile { list-style-image: url(assets/icons/user-profile-square.svg);}