/* Whole body CSS */

.montserrat-montserratfont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

html * {
    font-family: "Montserrat", sans-serif;
}

.main {
    margin: 0%;
}
/* Nav Box CSS */

.main__NavBox {
    width: 100%;
    height: 80px;
    background-color: #152237;
    color: #FFFFFF;
    display: flex;
    margin-left: ;
}

.main__NavBox img {
    height: 50%;
    width: auto;
    padding: 2%;
}

.main__NavBox__BurgerMenu {
    display: flex; /* cache par défaut */
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

@media screen and (min-width: 500px) {
    .main__NavBox__BurgerMenu {
        display: none;
    }
}

/* Hero CSS */

.main__hero {
    width: 100%;
    height: 100%;
    background-image: url(assets/img/bg-header.png);
    background-size: contain;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #44DD8A, #15B7E2);
    width: 100%;
    opacity: 80%;
    z-index: 1; /* prio de bg, s'affiche tout en dessous */
}

.main__hero h1 {
    color: #152237;
    text-align: center;
    position: relative;
    z-index: 2; /* prio du texte, s'affiche devant le bg */
}

.main__hero h2 {
    color: #152237;
    text-align: center;
    position: relative;
    z-index: 2;
}
.main__hero button {
    color: #152237;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Formations populaires CSS */



/* Formations récentes CSS */

.main__formations-recentes {
    width: 100%;
    background-color: #152237;
    color: #FFFFFF;
}

/* Créer formations */

.main__create {
    width: 100%;
    background-color: #44DD8A;
    color: #152237;
}

/* About us */

/* Icons CSS */

#star {
    color: #FFC700;
}

#star-opacity {
    color: #FFC700;
    opacity: 30%;
}

    /* Avantages KLIVIO */
#arrow { list-style-image: url(assets/icons/arrow-up-right.svg);}

#pen { list-style-image: url(assets/icons/edit-01.svg);}

#download { list-style-image: url(assets/icons/download-02.svg);}

#empty-star { list-style-image: url(assets/icons/star-02.svg);}

#clock { list-style-image: url(assets/icons/clock-backward.svg);}

#msg { list-style-image: url(assets/icons/annotation-typing.svg);}

    /* Create formations */
#money { list-style-image: url(assets/icons/coin-hand.svg);}

#heart { list-style-image: url(assets/icons/heart.svg);}

#pencil { list-style-image: url(assets/icons/pencil-01.svg);}

#gear { list-style-image: url(assets/icons/settings.svg);}

#profile { list-style-image: url(assets/icons/user-profile-square.svg);}