/* Whole body CSS */

.montserrat-montserratfont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

html * {
    font-family: "Montserrat", sans-serif;
}

/* Nav Box CSS */


/* Hero CSS */

.main__hero {
    background-image: url(assets/img/bg-header.png);
}

/* Header CSS */

#HeaderImg {
    filter: opacity(50%);
    color: linear-gradient(#44DD8A #15B7E2);
}

/* Stars CSS */
#star {
    color: #FFC700;
}

#star-brightness {
    color: #FFC700;
}