/* Whole body CSS */
html * {
    font-family: "Montserrat", sans-serif;
    max-width: 100%;
}

.main {
    margin: 0%;
}
/* Nav Box CSS */
    /* ajouter le CSS pour la version desktop de la nav bar */

.main__NavBox {
    width: 100%;
    height: 5rem;

    background-color: #152237;
    color: #FFFFFF;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__NavBox input::placeholder {
    height: 1.125rem;
    width: auto;
    font-weight: 500 !important;
    font-size: 0.938rem;
    letter-spacing: -1.5%;

    color: #FFFFFF;
}

.main__NavBox__logo {
    height: 1.875rem;
    width: auto;
    padding: 1.563rem;
}

.main__NavBox__elements__btn {
    display: flex;
    justify-content: space-between;
}

.main__NavBox__elements__btn button {
    margin: 0.594rem;
}

    /* NavBox items CSS */

#desktop__SignUp {
    padding: 0.688rem 1.563rem;
    border: 0px;
    border-radius: 0.375rem;

    font-size: 0.938rem;
    letter-spacing: -1.5%;
    font-weight: 500;

    opacity: 100% !important;
}

#desktop__SignIn {
    padding: 0.688rem 1.563rem;
    border: 0px;
    border-radius: 0.375rem;

    font-size: 0.938rem;
    letter-spacing: -1.5%;
    font-weight: 500;

    background: linear-gradient(135deg, #44DD8A, #15B7E2);
}

#desktop__search {
    height: 2.5rem;
    width: 28.393%;
    border-radius: 0.375rem;
    padding-left: 0.625rem;

    font-weight: 500;
    font-size: 0.938rem;

    border: 1px solid;

    background-color: #15223700;
    color: #FFFFFF;

    background: url("assets/icons/icone.svg") no-repeat right;
    background-position: 95%;
}

/* mettre tout le CSS mobile dans @media */

.main__NavBox__mobile__burger {
    display: none;
}

@media (max-width: 600px) {

    #desktop__formation { visibility: collapse;}

    .main__NavBox__elements__btn { display: none;}

    #desktop__search { visibility: collapse;}

    .main__NavBox__logo {
        height: 1.875rem;
        width: auto;
        padding: 1.563rem;
    }

    .main__NavBox {
        display: flex;
        justify-content: space-between;
        align-items: none;
    }

    .main__NavBox__mobile__burger {
        display: block;
    }

    #mobile-burger__toggle {
        opacity: 0;
    }

    #mobile-burger__toggle:checked ~ .mobile-burger__btn > span {
        transform: rotate(45deg);
    }
    #mobile-burger__toggle:checked ~ .mobile-burger__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #mobile-burger__toggle:checked ~ .mobile-burger__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #mobile-burger__toggle:checked ~ .mobile-burger__box {
        visibility: visible;
        left: 0;
    }

    .mobile-burger__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 3.5%;
        left: 85%;

        width: 1.625rem;
        height: 1.625rem;

        z-index: 10;
    }

    .mobile-burger__btn > span,
    .mobile-burger__btn > span::before,
    .mobile-burger__btn > span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 2px;

        background-color: #FFFFFF;

        transition-duration: .25s;
    }
    .mobile-burger__btn > span::before {
        content: '';
        top: -8px;
    }
    .mobile-burger__btn > span::after {
        content: '';
        top: 8px;
    }

    .mobile-burger__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 100%;
        z-index: 9;

        width: 75%;
        height: 100%;

        margin: 0% 25%;
        padding: 80px 0;

        background-color: #152237;
        opacity: 95%; /* transparence ul */
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;

        color: #ffffff;
        opacity: 100% !important; /* il va me rendre fou haha hahahaa HAHAHAHHAHAHAHAHAHA !!!!*/

        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;

        transition-duration: .25s;
    }

    /* Burger menu items CSS */
    #mobile__SignUp {
        padding: 0.5rem 1rem;
        border: 0px;
        border-radius: 1rem;

        background: linear-gradient(135deg, #44DD8A, #15B7E2);
        opacity: 100% !important;
    }

    #mobile__SignIn {
        padding: 0.5rem 1rem;
        border: 0px;
        border-radius: 1rem;
    }

    #mobile__search {
        height: 2.5rem;

        font-weight: 500;
        font-size: 0.938rem;

        border: 1px solid;
        border-radius: 0.375rem;

        background-color: #15223700;
        color: #FFFFFF;

        background: url("assets/icons/icone.svg") no-repeat right;
        background-position: 95%;
    }
}


/* Hero CSS */

/* Modifier @media pour faire le hero mobile */
@media (max-width: 600px) {

    .main__hero {
        width: 100%;
        height: auto;

        background-image: url(assets/img/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 4;
    }
}

.main__hero {
    width: 100%;
    height: 28.125rem;

    background-image: url(assets/img/bg-header.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main__hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #44DD8A, #15B7E2);
    width: 100%;
    opacity: 80%;
    z-index: 1; /* prio de bg, s'affiche tout en dessous */
}

.main__hero h1 {
    color: #152237;
    font-size: 3rem;
    font-style: bold;
    font-weight: 800;
    letter-spacing: -1,5%;

    text-align: center;
    position: relative;

    z-index: 2; /* prio du texte, s'affiche devant le bg */
}

.main__hero h2 {
    color: #152237;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1.5%;


    text-align: center;
    position: relative;

    z-index: 2;
}
.main__hero button {
    color: #152237;

    padding: 0.688rem 0.875rem;
    border: 0px;
    border-radius: 0.375rem;

    font-size: 0.938rem;
    letter-spacing: -1.5%;
    font-weight: 500;

    text-align: center;
    position: relative;
    z-index: 2;
}

/* Formations populaires CSS */
    /* si t'as le temps remplace les price par des position, top, left.*/

#popular {
    margin-top: 3%;
    margin-left: 5.5%;
}

.main__formations-populaire__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}

.main__formation-populaire__price {
    width: 120px;
    height: 31.58px;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 51%;
    left: 43%;
    border-radius: 93px;

    background-color: #152237;
    box-shadow: 5px 4px 13.2px -1px #00000040;
}

.main__formation-populaire__price h1 {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -1.5%;

    margin-right: 8px;

    color: #FFFFFF;
}

.main__formation-populaire__price p {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -1.5%;
    line-height: 7px;
    text-decoration: line-through;

    color: #FFFFFF;
}

@media (max-width: 600px) {
    #popular {
        text-align: center;
    }

    .main__formation-populaire__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:19.063rem;
        /* height: 206px; */
    }

    .main__formation-populaire__price {

        width: 120px;
        height: 31.58px;

        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        top: 48%;
        left: 58%;
        border-radius: 93px;

        background-color: #152237;
        box-shadow: 5px 4px 13.2px -1px #00000040;
    }

    #equipe {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        top: 44%;
        left: 18%;
        border-radius: 93px;
    }

    .main__formations-populaire__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        margin: 5%;
    }
}

.main__formation-populaire__LearnMore__button {
    color: #FFFFFF;
    background-color: #152237;

    padding: 0.688rem 0.875rem;
    border: 0px;
    border-radius: 0.375rem;

    font-size: 0.938rem;
    letter-spacing: -1.5%;
    font-weight: 500;

    text-align: center;
    position: relative;
    margin-bottom: 10px;
    z-index: 2; 
}

.main__formation-populaire__LearnMore {
    text-align: center;
}

/* Formations récentes CSS */
    /* pareil ici, remplace les price par des position, top, left.*/

.main__formations-recentes {
    width: 100%;
    background-color: #152237;
    color: #FFFFFF;
}

#recent {
    margin-top: 3%;
    margin-left: 5.5%;
}

.main__formations-recentes__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}

.main__formations-recentes__price {
    width: 120px;
    height: 31.58px;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 49%;
    left: 43%;
    border-radius: 93px;

    background-color: #FFFFFF;
    box-shadow: 5px 4px 13.2px -1px #00000040;
}

.main__formations-recentes__price h1 {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -1.5%;

    margin-right: 8px;

    color: #152237;
}

.main__formations-recentes__price p {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -1.5%;
    line-height: 7px;
    text-decoration: line-through;

    color: #152237;
}


@media (max-width: 600px) {
    #recent {
        text-align: center;
    }

    .main__formations-recentes__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:19.063rem;
        /* height: 206px; */
    }

    .main__formations-recentes__price {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        top: 44%;
        left: 58%;

        border-radius: 93px;
        box-shadow: 5px 4px 13.2px -1px #00000040;
    }

    #leadership {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        top: 48%;
        left: 58%;
    }

    .main__formations-recentes__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        margin: 5%;
    }
}

.main__formations-recentes__LearnMore__button {
    color: #152237;

    padding: 0.688rem 0.875rem;
    border: 0px;
    border-radius: 0.375rem;

    font-size: 0.938rem;
    letter-spacing: -1.5%;
    font-weight: 500;

    text-align: center;
    position: relative;
    margin-bottom: 10px;
    z-index: 2; 
}

.main__formations-recentes__LearnMore {
    text-align: center;
}

/* Avis clients */

.main__avis-clients {

}

.main__avis-clients h1 {
    text-align: center;
}

.main__avis-clients__avis {
    display: flex;
    align-content: space-evenly;
}


.main__avis-clients img {
    border-radius: 50%;
}

@media (max-width: 600px) {
    .main__avis-clients__avis {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* Avantages Klivio */

.main__avantages {
    background-color: #F5F5F5;
}

@media (max-width: 600px) {
    .main__avantages {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Créer formations */

.main__create {
    width: 100%;
    background-color: #44DD8A;
    color: #152237;
}

/* About us */

/* Icons CSS */

#star {
    color: #FFC700;
}

#star-opacity {
    color: #FFC700;
    opacity: 30%;
}

    /* Avantages KLIVIO */
#arrow { list-style-image: url(assets/icons/arrow-up-right.svg);}

#pen { list-style-image: url(assets/icons/edit-01.svg);}

#download { list-style-image: url(assets/icons/download-02.svg);}

#empty-star { list-style-image: url(assets/icons/star-02.svg);}

#clock { list-style-image: url(assets/icons/clock-backward.svg);}

#msg { list-style-image: url(assets/icons/annotation-typing.svg);}

    /* Create formations */
#money { list-style-image: url(assets/icons/coin-hand.svg);}

#heart { list-style-image: url(assets/icons/heart.svg);}

#pencil { list-style-image: url(assets/icons/pencil-01.svg);}

#gear { list-style-image: url(assets/icons/settings.svg);}

#profile { list-style-image: url(assets/icons/user-profile-square.svg);}