/* Whole body CSS */

.montserrat-montserratfont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

html * {
    font-family: "Montserrat", sans-serif;
}

/* Nav Box CSS */

.main__NavBox {
    width: 100vh;
    height: auto;
    background-color: #152237;
    color: #FFFFFF;
    display: flex;
}

.main__NavBox img {
    height: 10%;
    width: 10%;
    padding: 2%;
}

.main__NavBox__burgerMenu {
    display: none; /* cache par défaut */
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* Hero CSS */

.main__hero {
    width: 100%;
    height: 100%;
    background-image: url(assets/img/bg-header.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #44DD8A, #15B7E2);
    width: 100%;
    opacity: 80%;
    z-index: 1; /* prio de bg, s'affiche tout en dessous */
}

.main__hero h1 {
    color: #152237;
    text-align: center;
    position: relative;
    z-index: 2; /* prio du texte, s'affiche devant le bg */
}

.main__hero h2 {
    color: #152237;
    text-align: center;
    position: relative;
    z-index: 2;
}
.main__hero button {
    color: #152237;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Formations populaires CSS */



/* Formations récentes CSS */

.main__formations-recentes {
    width: 100vh;
    background-color: #152237;
    color: #FFFFFF;
}

/* About us */

/* Stars CSS */

#star {
    color: #FFC700;
}

#star-brightness {
    color: #FFC700;
}